form.form-horizontal(method='POST')
    input(type='text', name='name')
    input(type='text', name='place')
    input(type='text', name='time')
    input(type='text', name='tags')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='submit')